<html>
<body>
<pre>
    #*
    你看不到我~~~~
    *#
    $!{value1}<br>## !表示:如果不存在，强制为空
    $!{colors}

    #foreach($color in $colors)
        This is color $!{foreach.index}: $color $!{foreach.count}
    #end

    #foreach($key in $map.keySet())
        Number: $key ,Value: $map.get($key)
    #end

    #foreach($entry in $map.entrySet())
        Number: $entry.key ,Value: $entry.value
    #end

    User: $!{user.name}

    User: $!{user.description}

    User: $!{user.getDescription()}

    #set($title = "wenda")
    Title: $!{title}

    Parse: #parse("header.html")
    Include: #include("header.html")

    #macro(render_color,$index, $color)
        Color Render Macro $index, $color
    #end

    #foreach($color in $colors)
        #render_color($foreach.index, $color)
    #end

    #set($hello = "hello")
    #set($helloworld = "$!{hello} world")
    #set($helloworld2 = '$!{hello} world')

    $!{hello}
    $!{helloworld}
    $!{helloworld2}


</pre>
</body>
</html>